/*#index-page {
    background: url(../images/bg-index.jpg);
    background-size: cover;
}*/

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
#font-inscription {
    border: 1px #efefef solid;
    width: 100%;
    background: #e6e6e6;
    margin-top: 8%;
}

.bouton-message {
    width: 90px;
    height: 15%;
    margin: 5% 5% 5% 0%;
    padding: 8px 8px 8px 12px;
    background: black;
    border: 1px black solid;
    border-radius: 4px;
    text-align: center;
    color: white;
}

#bouton-interets {
    width: 20%;
    height: 15%;
    margin: 3% 1% 3% 0%;
    padding: 8px 8px 8px 12px;
    background: black;
    border: 1px black solid;
    border-radius: 4px;
    text-align: center;
    color: white;
}

#bouton-inscription {
    width: 30%;
    height: 15%;
    margin: 5% 5% 5% 0%;
    padding: 8px 8px 8px 12px;
    background: black;
    border: 1px black solid;
    border-radius: 4px;
    text-align: center;
    color: white;
}

#bouton-inscription-home {
    width: 50%;
    height: 15%;
    margin: 5% 5% 5% 0%;
    padding: 8px 8px 8px 12px;
    background: black;
    border: 1px black solid;
    border-radius: 4px;
    text-align: center;
    color: white;
}

#bouton-fb {
    width: 70%;
    height: 15%;
    margin: 5% 18% 5% 0%;
    padding: 8px 8px 8px 12px;
    background: #3b5998;
    border: 1px #3b5998 solid;
    border-radius: 4px;
    text-align: left;
    color: white;
}

.valider {
    text-align: center;
}

p {
    text-align: center;
    font-size: small;
}

.sous_cat {
    font-size: 12px;
}

#bouton-inst {
    width: 70%;
    height: 15%;
    margin: 5% 18% 5% 0%;
    padding: 8px 8px 8px 12px;
    background: #cd486b;
    border: 1px #cd486b solid;
    border-radius: 4px;
    text-align: left;
    color: white;
}

#bouton-mail {
    width: 70%;
    height: 15%;
    margin: 5% 18% 5% 0%;
    padding: 8px 8px 8px 12px;
    background: #2eb82e;
    border: 1px #2eb82e solid;
    border-radius: 4px;
    text-align: left;
    color: white;
}

#liste-profile-1 {
    margin-top: 15%;
    text-align: right;
}

#liste-profile-2, #liste-profile-3, #liste-profile-4 {
    margin-top: 5%;
    text-align: right;
}

nav {
    background: darkslategrey;
    height: 60px;
    margin-bottom: 20px;
}

img {
    border-radius: 3px;
}

#logo_title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    padding-top: 10px;
    padding-left: 25px;
}

#retour-flux {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 4.5vw;
}

h2 {
    text-align: center;
}

.h2-interets {
    text-align: left;
    font-size: 30px;

}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #f9f9f9;
}

.block-connexion {
    text-align: center;
}

#connexion {
    text-align: right;
    padding-right: 25px;
    padding-top: 18px;
}

#se_connecter {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: white;

}

#se_connecter:hover, #se_connecter_resp:hover {
    color: pink;
    text-decoration: none;
}

#se_connecter:link, #se_connecter_resp:link, #se_connecter:visited, #se_connecter_resp:visited, #se_connecter:active, #se_connecter_resp:active {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

#se_connecter_resp {
    font-size: 20px;
    color: white;
}

#menu_connect {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 5px;
}

.menu_icon {
    padding: 0px 4px 0px 4px;
    font-size: 20px;
}

.menu_share {
    margin-right: 8px;
    padding: 4px 6px 0px 4px;
    background: white;
    border: 1px white solid;
    border-radius: 4px;
}

#menu_share_letter {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

#menu_share_icon {
    font-size: 20px;
}

.menu_lien:link, .menu_lien:visited, .menu_lien:active {
    color: white;
}

.menu_lien:hover {
    color: pink;
}

#menu_lien_share:link, #menu_lien_share:visited, #menu_lien_share:active {
    color: black;
}

#menu_lien_share:hover {
    color: grey;
}

#test {
    float: right;
}

#barre-de-recherche {
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline;

}

#bouton-recherche {
    width: 12%;
    padding: 5px 5px 5px 5px;
    background: black;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

#form-recherche {
    text-align: center;
    margin: 3% 0% 3% 0%;
}

.fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hashtag {
    text-align: left;
    margin: 5px 0px 10px 0px;
}

.icon-image {
    text-align: right;
    margin: 5px 0px 20px 0px;
}

.a-icon:hover, .a-icon:visited, .a-icon:active, .a-icon:link {
    color: black;
}

.profil-name {
    color: black;
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
}
.prenom_connect{
    color:white;
    font-family: "Roboto Condensed";
}
.photo-profil {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.photo-profil-gen {
    text-align: right;
    margin: 10px 0px 10px 0px;
}

#principal-block {
    margin-top: 5%;
}

.principal-block {
    margin-top: 5%;
}

#titreindex {
    color: white;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 1em;
}

#titre-inscription {
    font-family: 'Permanent Marker', cursive;
}
.titreSearch{
    font-family: 'Permanent Marker', cursive;
}
#contact {
    margin-top: 5%;
    width: 70%;
    border: 1px solid black;
}

#message {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

#formparametre {
    margin-top: 20px;
    text-align: center;
}

#not {
    padding-left: 20px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.customForm {
    display: inline;
}

#form-recherche2 {
    margin-bottom: 1.2em;
}

.sndphoto
{
  margin-top : 25px;

}

.caption {
    background: rgb(19, 18, 18);
    border-right: 1px solid #666;
    border-bottom: 0px solid #666;
    border-left: 1px solid #666;
    border-top: 0px solid #666;
    font-family: Verdana;
    font-size: 13px;
    padding: 4px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;

    color: #eee;

   }
/*
////////////////////////////////////////////////////////MAGIC POPUP///////////////////////////////////////////////////////////////////
*/

/*
////////////////////////////////////////////////////////MAGIC POPUP///////////////////////////////////////////////////////////////////
*/
/*map*/

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
      }




#monCarrou{
    height:700px;
    width: 300px !important;
    border-style: solid !important;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(173, 173, 173);
    background-color: rgb(243, 243, 243);
  }

  #carousel{
    width:200px;
    /*height: 100px;*/
    display: absolute;
  }

  #secretfriend{
    font-family: "Pacifico", cursive;
    font-size: 25px;
    text-align: center;
  }
  .full-height{
    height:100%;
  }


  #carousel-container{

    padding-bottom: 150px;
    /*padding-left: 50px; */
    width: 200px;
  }

  .carousel-center{
    background-image: url(../images/PolariodFrame.png);
    position: relative;
  }

  .carousel-center p{
    text-align:center;
    font-family: "Pacifico", cursive;
    font-size: 20px !important;
    color:black;
  }

  .polaroid img{
    width: 143px !important;
    height: 150px !important;
    margin: 13px -1px 0 auto;
  }

  #carousel p{
    text-align:center;
    font-size: 0px;
    color:black;
    margin-top: 0;
  }
  .polaroid{
    text-align: center;
    width: 165px !important;
    height: 205px !important;
  }
#photosApi {
    margin-top: 15em;
    height: 900px;
   text-align: center;
}

#photosApi img {
    margin: 15px 0
}

#btnAmis {
    margin-top: 15px;
}
.female {
    background-color:#bada55;
}
.male {
    background-color: purple;
}

#resultatApi p {
   
    font-weight: bold;
    font-size: 1.2em;
    width: 128px;
}
#resultatApi {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likable {
    margin-right: 15px;
    cursor: pointer;
}